<ion-header>
  <ion-navbar color="primary">
    <ion-title class="title">
      Buscar Productos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item class="inputProducto">
        <ion-input type="text" placeholder="Producto a buscar" [(ngModel)]="producto"></ion-input>
      </ion-item>
  </ion-list>
  <button ion-button (click)="probar()" class="btnBuscar" >Buscar Producto</button>
  <ion-list *ngIf="productos">
    <button ion-item *ngFor="let prod of productos "  (click)="productoElegido(prod)" >
      <h2 text-wrap>{{prod.nombre}}</h2>
      <h3>{{prod.id}}</h3>
    </button>  
  </ion-list>
  <ion-list *ngIf="sucursales">
    <button ion-item *ngFor="let sucursal of sucursales" (click)="itemSelected(sucursal)">
      <h2 text-wrap>{{sucursal.banderaDescripcion }}</h2>
      <h2 text-wrap>{{sucursal.localidad }}</h2>
      <h2 text-wrap>{{sucursal.direccion }}</h2>
      <h2 text-wrap>{{sucursal.distanciaDescripcion }}</h2>
      <h2 text-wrap *ngIf="sucursal.preciosProducto.precioLista">Precio:{{sucursal.preciosProducto.precioLista }}</h2>
      <h2 text-wrap *ngIf="!sucursal.preciosProducto.precioLista">Precio no disponible</h2>    
    </button>  
  </ion-list>
  <ion-list *ngIf="weather">
    <button ion-item *ngFor="let w of weather "  (click)="productoElegido(prod)" >
      <span>{{w.main }}</span>
      <span>{{w.id }}</span>
    </button>  
  </ion-list>
  <button >pepe{{ ubicacion }}</button>
  
</ion-content>
