page-home {
.inputProducto{
    border-bottom: 2px red solid;
}
.pep{
    border-bottom: 2px black solid;
}
.btnBuscar{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; 
} 
.btnEscanear{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%; 
}

}
